<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Profile Photo</title>
    
</head>
<script src="https://cdn.tailwindcss.com"></script>

<body class="bg-zinc-800 text-zinc-300 p-10">
    <div class="container">
        <h2 class=" text-3xl font-bold">Upload Profile Photo</h2>
        <form action="/upload" method="post" autocomplete="off" class="mt-10" enctype="multipart/form-data">
            <div class="block mb-5">
                <label for="profilePhoto" class="">Choose a profile photo:</label>
                <input type="file" class="rounded-md" id="profilePhoto" name="image" required>
            </div>
            <button type="submit" class="bg-blue-500 rounded-md px-3 py-2 text-white">Upload</button>
        </form>
    </div>
</body>
</html>